* {
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}
body {
    /* FUNDO PADRAO DE TODA PAGINA */
    background-color: #FAFAFA;
}
header {

    height: 69px;
    background-color: #EC362D;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    font-size: 37px;
    line-height: 43px;
    font-weight: bold;
}

main {
    margin-top: 77px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}







.SeusQuizz {
    width: 1051px;
    height: 181px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px dashed #D5D5D5;
    border-radius: 5px;
}
.text-aviso-quizz{
    width: 250px;
    height: 107px;

    display: flex;
    align-items: center;
    text-align: center;

    font-size: 20px;
    line-height: 23px;
    color: #B9B9B9;
}

.botao-quizz {
    width: 151px;
    height: 40px;

    border: 1px dashed #EC362D;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
}


.Todos-Quizz {
    width: 1052px;
    height: 500px;
    margin-top: 75px;
}
.text-aviso-todos-quizz {
    font-size: 20px;
    line-height: 23px;
    font-weight: bold;
    margin-bottom: 10px;
}
.caixa-de-quizzes {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
}
.bloco-cada-quizz {
    width: 340px;
    height: 181px;
    
    position: relative;

    margin-bottom: 12px;
    
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
   
}

.bloco-cada-quizz:hover{
    cursor: pointer;
}


.img-cada-quizz {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    position: absolute;
}
.titulo-cada-quizz {
    font-size: 19px;
    line-height: 22px;
    
    position: absolute;
    z-index: 1;
    bottom: 7px;
    right: 18px;
    color: #FFFFFF;
}

.quizz-usuario{
    width: 1051px;
    
}

.quizz-usuario .user-titulo{
    display: flex;
    align-items: center;


}

.user-titulo ion-icon{
    color: #EC362D;
    font-size: 35px;
    margin-left: 5px;
    
}

.quizz-usuario h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;

    color: #000000;
}

.cada-quizz-usuario{
    width: 340px;
    height: 181px;
    
    position: relative;

    margin-top: 12px;
    margin-bottom: 12px;
    
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
}

/* Estrutura do Quizz aberto */
.quizz{
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-quizz{
    height: 227px;
    width: 100%;
    
    font-family: 'Roboto', sans-serif;
    font-size: 39px;
    color: #FFFFFF;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: 100%;
    
}


.pergunta-container{
    width: 759px;
    height: 676px;

    margin-top: 42px;

    padding-left: 35px;
    padding-right: 35px;
    padding-top: 28px;
    padding-bottom: 28px;

    background-color: #FFFFFF;;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.pergunta-titulo{
    width: 689.77px;
    height: 137.99px;
    background-color: #434CA0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
}


.opcao-pergunta{
    font-family: 'Roboto', sans-serif;
    width: 329.91px;
    height: 214px;
}


.opcao-pergunta img{
    width: 329.91px;
    height: 175.2px;

}

.opcao-pergunta h2{
    margin-top: 14px;
    
    font-weight: bold;
    font-size: 20px;
}

.resultado-quizz{
    width: 759px;
    height: 430px;

    margin-top: 42px;
    margin-bottom: 42px;

    padding-left: 35px;
    padding-right: 35px;
    padding-top: 28px;
    padding-bottom: 28px;

    background-color: #FFFFFF;;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}


.resultado-titulo{
    width: 727px;
    height: 99px;
    background-color: #EC362D;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
}

.resultado-div{
    width: 727px;

    display: flex;
    flex-wrap: wrap;

    margin-top: 14px;
}

.resultado-div img{
    width: 364px;
    height: 273px;
}

.resultado-div h2{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 19px;    
    line-height: 25px;
    color: #484848;
    margin-left: 14px;
}

/* JOGANDO QUIZZ */
.opcao-cinza{
    opacity: 0.5;
} 

.opcao-certa h2{
    color: #009C22;
    
}

.opcao-errada h2{
    color: #FF4B4B;
    
}



/* CSS para a Criação de QUIZZES */
.Desktop-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Desktop-9 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Desktop-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Desktop-11 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.descrição-Tela-Criação {
    display: flex;
    align-items: center;

    margin-top: 71px;
    margin-bottom: 21px;
}
.Texto-Definiçao {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;

    color: #000000;
}
.conteiner {
    padding: 20px;
    gap: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #FFFFFF;
}
.PerguntaDOconteiner {
    gap: 9px;
}
input {
    all: unset;
    width: 564px;
    height: 46px;
    padding-left: 23px;
    gap: 9px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}
.Texto-Especifica-Input {
    width: 564px;
    height: 46px;
}
.botão {
    width: 368.86px;
    height: 54px;
    margin-top: 85px;
    margin-bottom: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;

    color: #FFF5F4;

    background: #EC362D;
    border-radius: 15px;
}
.botãofinal {
    width: 368.86px;
    height: 54px;
    margin-top: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;

    color: #FFF5F4;

    background: #EC362D;
    border-radius: 15px;
}
/* CSS para a Criação de QUIZZES */

/* Para desaparecer telas */
.invisivel{
    display: none;
}